<p class="bg-info">Følgende dansere er registrert på en danseskole som ikke ligger i listen på deltager.no. <br/> Oppdater navn på
    danseskole hvis nødvendig. <br/>Trykk "Lagre" når du er ferdig.
</p>
<table class="table table-striped table-condensed">
    <thead>
    <th>Navn</th>
    <th>Danseskole</th>
    </thead>
    <tbody>
    <tr ng-repeat="dancer in dancers">
        <td>{{dancer.name}}</td>
        <td><input ng-model="dancer.schoolName"/></td>
    </tr>
    </tbody>
</table>
<button ng-click="updateSchoolNames()" type="button" class="btn btn-primary active">Lagre</button>